<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groceries</title>
</head>
<body>
    <h1>My List</h1>

    <div>
    <ul id="itemList">
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <% if (groceryList.length){
            for(let i = 0; i < groceryList.length; i++){ %> 
            <li id="grocery<%=groceryList[i].id%>"> 
                <a href="/grocery/<%=groceryList[i].id%>"></a><%=groceryList[i].item%></a>
            </li><% } %>
            <% } %> 

        <li><form action="/" method="post"><input type="text" id="grocery" name="grocery"></form></li>
    </ul>
    </div>
    

</body>
</html>